name: Email Verification

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 23f3003477@ds.study.iitm.ac.in
        run: echo "Hello, world!"
